{
  "presets": ["env"],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    "add-module-exports"
  ]
}